$primaryColour: rgb(21, 19, 19);
$primaryTextColour: white;
$SecondaryColour: #C0C0C0;

body{
  background-color: $primaryColour;
  color: $primaryTextColour;
}
html{
  background-color: $primaryColour;
}
.overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;  
    height: 100vh; 
    background: $primaryColour;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
    z-index: 9998;
  }
  .overlay-menu.open {
    visibility: visible;
    opacity: 1;
  }
  .overlay-menu .nav-links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .overlay-menu .nav-links a {
    color: $primaryTextColour;
    font-size: 2em;
    margin:  10px;
    text-decoration: none;
    z-index: 9999;
  }
  .close-menu {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    color: $primaryTextColour;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 9999;
  }
  .menu-toggle{
    top: 20px;
    right: 20px;
    font-size: 2rem;
    padding: 10px 15px;
    background: none;
    cursor: pointer;
    color: $primaryTextColour
  }
  .home-coin{
    display: block;
    margin: 20px auto;
    height: auto;
    margin-top: 100px;
    width: 80%;
    max-width: 150px;
  }
  .home-coin img { //ensures that the image will scale to the container depening on vport
    width: 100%;
    height: auto;
    display: block;
}
@media (min-width: 601px) { //medium size
  .home-coin {
    max-width: 200px; 
    }
}
@media (min-width: 901px) { //large size
  .home-coin {
    max-width: 250px; 
    }
}
  .site-logo{
    width: 150px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }
  .nav-Bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 5px;
    border-color: rgb(102, 96, 96);
    border-bottom: 1px solid rgb(102, 96, 96);
    background-color: $primaryColour;
    width: 100%;
  }
  .nav-text-wrapper{
    display: flex;
    flex-direction: column;
  }
  .nav-tagline{
    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }
  .nav-logo{
    width: 300px;
    height: auto;
    vertical-align: middle;
  }
.form-group{
  padding-bottom: 10px;
}
#loginForm{
  padding-top: 20px;
  width: 50%;
  border-bottom: 3px solid rgb(102, 96, 96);
  border-right: 3px solid rgb(102, 96, 96); 
  border-top: 2px solid rgb(182, 171, 171); 
  border-left: 2px solid rgb(182, 171, 171); 
  margin-top: 20px;
}
.shopCard{
  background-color: $SecondaryColour;
  border-radius: 10px;
}
.cardButton{
  margin: 10px;
}

  