{{!-- meta tags --}}
<meta name="description" content="Learn more about Wallet Whimsy today!">
<title>Wallet Whimsy - About Us</title>

<h1 style="color:white; text-align:center; margin-top:35px;">Want to learn more about us?</h1>
<h4 style="color:goldenrod; text-align:center; margin: top 20px;">Here are some interesting details about us!</h4>

<div class="container" style="padding-top:40px;">
  <div class="row align-items-center">
    <div class="col-12 col-md-6" style="border: 5px; border-color: rgb(102, 96, 96); border-top: 3px solid rgb(102, 96, 96); border-left: 3px solid rgb(102, 96, 96);">
  <h5>What is our story?</h5>
  <p>Wallet Whimsy was founded in the Winter of 2025, ever since then we have not forgotten our mantra.
    <br>
    Green = Good, Red = Not good.
    <br>
    <br>
    With this knowledge we were able to grow our enterprises over time, teaching many the way.
    <br>
    It wasn't until we released GitPush Pay when things got serious, we were heading for the moon.
    <br>
    We then set up our global office in the abandoned community of Kaneq in Greenland.
  </p>
  <h5 style="color:goldenrod">Some Interesting Facts</h5>
  <ul>
    <li>WalletWhimsy is available in every country on Earth!</li>
    <li>Our stocks have NEVER gone done!</li>
    <li>Our own in house AI assistant handles all financial dealings, including yours!</li>
    <li>Our anthem is "Harder,Better,Faster,Stronger" by DaftPunk.</li>
  </ul>
</div>
<div class="col-md-6 d-none d-md-block text-center">
  <img src="/images/aboutus.jpg" style="height: auto; width:400px;" class="img-fluid" alt="winky face">
</div>
  </div>
</div>