{{!-- meta tags --}}
<meta name="description" content="Here at the hot cool crypto's you have selected!">
<title>Checkout</title>
{{!-- empty div to append cart data to --}}
<div id="checkoutDiv">

</div>