{{!-- meta tags --}}
<meta name="description" content="Here at the hot cool crypto's you have selected!">
<title>Checkout</title>


{{!-- empty div to append cart data to --}}
<div id="checkoutDiv" class="container">
    <h2>Your Cart</h2>
</div>
<div class="text-center">
<a href="/payment" class="btn btn-lg {{#if state.payment}}active{{/if}}" id="goToPayment">Procced To Payment</a>
</div>
<script src="/checkout.js"></script>