{{!-- meta tags --}}
<meta name="description" content="Get in touch with us!">
<title>Wallet Whimsy - Contact Us</title>
    <h1 style="color:white; text-align:center; margin-top:35px;">Contact Us</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 mb-4">
        <div class="card" style="background-color: #C0C0C0; width: 350px">
            <img class="card-img-top" src="/images/contactus.png" alt="Card image contact us">
            <div class="card-body">
                <h3 class="card-title">Our Details</h3>
                <h5 class="card-text">Email and Phone</h5>
                <p class="card-text">MrMonopoly@WalletWhimsy.com
                    <br>+299 354 672
                </p>
                <h5 class="card-text">Address Details</h5>
                <p class="card-text">Wallet Whimsy Office Premises <br>
                Kangeq, Greenland</p>
            </div>
        </div>
            </div>
            <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6967.613305681833!2d-52.065639814457!3d64.11367155455233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ea20666f926b649%3A0x3aa3303cf11bfa41!2sKangeq%2C%20Greenland!5e0!3m2!1sen!2sie!4v1764700057742!5m2!1sen!2sie" 
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
        </div>
    </div>