{{!-- meta tags --}}
<meta name="description" content="Thank you for logging in">
<title>Wallet Whimsy - Logged In</title>

<div class="container" id="loggedIn" style="width: 50%;">
    <h2 class="text-center" id="welcome"></h2>
    <div class="text-center">
        <a href="/" class="btn btn-lg mb-5 mt-3" style="background-color: goldenrod;">Procced Back To Home</a>
    </div>
</div>
<script>
    const name = localStorage.getItem('username');
    if(name){
        document.getElementById('welcome').textContent = `Welcome back ${name}`;
    }
</script>