{{!-- meta tags --}}
<meta name="description" content="Give me your money, you can trust me with your card details.">
<title>Payment</title>

<div class="container mb-5">
<form id="payment">
    <div class="form-group mb-3">
        <label for="cardname">Name Of Cardholder</label>
        <input type="text" id="cardName" class="form-control" placeholder="Enter Name Here" required>
    </div>
    <div class="form-group mb-3">
        <label for="cardnumber">Card Number</label>
        <input type="text" id="cardNumber" class="form-control" placeholder="Card Number Here" required> 
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="expDate">Expiary Date (MM/YY)</label>
            <input type="text" id="expDate" class="form-control" placeholder="MM/YY" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="cvv">CVV</label>
            <input type="text" id="cvv" class="form-control" placeholder="CVV" required>
        </div>
    </div>
    <button type="submit" class="btn btn-lg" id="paymentButton" style="background-color: goldenrod;">Pay Now</button>
</form>
</div>
<script src="/payment.js"></script>