{{!-- meta tags --}}
<meta name="description" content="Browse the hottest crypto tokens and start trading today!">
<title>Wallet Whimsy - Market</title>
<div class="container mt-4">
    <div class="row g-4">

        <div class="col-12 col-md-4"> 
            <div class="card h-100 mb-3 shopCard" data-product-id="whimsycash">
                <img class="card-img-top w-100" src="/images/WhimsyCash.png" alt="card image for whimsy cash">
                <div class="card-body">
                    <h5 class="card-title">WhimsyCash</h5>
                    <p class="card-text">WhimsyCash is our homegrown talent, our mascot if you will.<br>
                        It stands steady and is expected to rival BitCoin and Etherium soon!</p>
                        {{!-- buttons, amount tracker, add to basket etc here --}}
                </div>
                <div class="card-footer">
                    <button class="remove-btn btn btn-light btn-sm cardButton">Remove From Cart</button>
                    <span class="cart-count">0</span>
                    <button class="add-btn btn btn-light btn-sm cardButton">Add To Cart</button>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4"> 
            <div class="card  h-100 mb-3 shopCard" data-product-id="gitpushpay">
            <img class="card-img-top w-100" src="/images/GitPushPay.png" alt="card image for gitpush pay">
                <div class="card-body">
                    <h5 class="card-title">GitPushPay</h5>
                    <p class="card-text">GitPushPay is another one of our heavy hitters.<br>
                        Our friends over at GitHiub helped form this teamup so we may grow together!</p>
                </div>
                <div class="card-footer">
                    <button class="remove-btn btn btn-light btn-sm cardButton">Remove From Cart</button>
                    <span class="cart-count">0</span>
                    <button class="add-btn btn btn-light btn-sm cardButton">Add To Cart</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card h-100 mb-3 shopCard" data-product-id="divcoin">
                <img class="card-img-top w-100" src="/images/DivCoin.png" alt="card image for DivCoin">
                <div class="card-body">
                    <h5 class="card-title">DivCoin</h5>
                    <p class="card-text">DivCoin is one of our earlier currencies.<br>
                    We decided to drop it on the anniversary of HTML5.</p>
                </div>
                <div class="card-footer">
                    <button class="remove-btn btn btn-light btn-sm cardButton">Remove From Cart</button>
                    <span class="cart-count">0</span>
                    <button class="add-btn btn btn-light btn-sm cardButton">Add To Cart</button>
                </div>
            </div>
        </div>
        {{!-- new row --}}
        <div class="col-12 col-md-4">
            <div class="card h-100 mb-3 shopCard" data-product-id="binarybling">
                <img class="card-img-top w-100" src="/images/BinaryBling.png" alt="card image for BinaryBling">
                <div class="card-body">
                    <h5 class="card-title">BinaryBling</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita voluptatibus ipsa suscipit quae. Rerum reiciendis molestias et possimus natus aliquam excepturi voluptas ipsum iure, provident ut illum eveniet, necessitatibus ratione!</p>
                </div>
                <div class="card-footer">
                    <button class="remove-btn btn btn-light btn-sm cardButton">Remove From Cart</button>
                    <span class="cart-count">0</span>
                    <button class="add-btn btn btn-light btn-sm cardButton">Add To Cart</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card h-100 mb-3 shopCard" data-product-id="oopbucks">
                <img class="card-img-top w-100" src="/images/OOPBucks.png" alt="card image for OOPBucks">
                <div class="card-body">
                    <h5 class="card-title">OP Bucks</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium atque quo doloribus dolorum error impedit quas deserunt eaque ad ducimus. Omnis, unde debitis inventore laborum minus modi. Ut, ducimus quisquam?</p>
                </div>
                <div class="card-footer">
                    <button class="remove-btn btn btn-light btn-sm cardButton">Remove From Cart</button>
                    <span class="cart-count">0</span>
                    <button class="add-btn btn btn-light btn-sm cardButton">Add To Cart</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card h-100 mb-3 shopCard" data-product-id="sqlcoin">
                <img class="card-img-top w-100" src="/images/SQLCoin.png" alt="card image for SQL Coin">
            
            <div class="card-body">
                <h5 class="card-title">SQL Coin</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum, tempora. Iure eaque, ullam quidem eum impedit eos quis laboriosam. Aut, incidunt explicabo earum dolores eligendi numquam eveniet. Eaque, illo consequatur?</p>
            </div>
            <div class="card-footer">
                    <button class="remove-btn btn btn-light btn-sm cardButton">Remove From Cart</button>
                    <span class="cart-count">0</span>
                    <button class="add-btn btn btn-light btn-sm cardButton">Add To Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/cart.js"></script>