{{!-- meta tags --}}
<meta name="description" content="Browse the hottest crypto tokens and start trading today!">
<title>Wallet Whimsy - Market</title>
<div class="container mt-4">
    <div class="card-deck">
    <div class="row g-4">
        <div class="col-12 col-md-4"> 
            {{!-- row 1 --}}
                <div class="card border-dark mb-3" id="shopCard">
                {{!-- item 1 --}}
                    <img class="card-img-top w-100" id="shopIMG" src="/images/WhimsyCash.png" alt="card image for whimsy cash">
                    <div class="card-body">
                    <h5 class="card-title">WhimsyCash</h5>
                    <p class="card-text">WhimsyCash is our homegrown talent, our mascot if you will.<br>
                        It stands steady and is expected to rival BitCoin and Etherium soon!</p>
                        {{!-- buttons, amount tracker, add to basket etc here --}}
                    </div>
                </div>
                <div class="col-12 col-md-4"> 
                    <div class="card border-dark mb-3" id="shopCard">
                    <img class="card-img-top w-100" id="shopIMG" src="/images/GitPushPay.png" alt="card image for gitpush pay">
                    <div class="card-body">
                        <h5 class="card-title">GitPushPay</h5>
                        <p class="card-text">GitPushPay is another one of our heavy hitters.<br>
                        Our friends over at GitHiub helped form this teamup so we may grow together!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>