{{!-- meta tags --}}
<meta name="description" content="Browse the hottest crypto tokens and start trading today!">
<title>Wallet Whimsy - Market</title>
<div class="containter mt-4">
    <div class="row>">
        <div class="col-12 col-md-4"> 
            {{!-- row 1 --}}
            <div class="card-deck">
                <div class="card border-light mb-3" id="shopCard">
                {{!-- item 1 --}}
                <img class="card-img-top d-block w-100" id="shopIMG" src="/images/WhimsyCash.png" alt="card image for whimsy cash">
                <div class="card-body">
                    <h5 class="card-title">WhimsyCash</h5>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>