{{!-- meta tags --}}
<meta name="description" content="Thank you for your payment.">
<title>Wallet Whimsy - Success</title>
<div class="container" id="successMessasge">
<h2 id="thankYou"></h2>
</div>
<div class="text-center">
<a href="/" id="homeButton" class="btn btn-lg">Click Me To Go Home</a>
</div>
<script>
    const name = localStorage.getItem('cardName');

    document.getElementById('thankYou').textContent = `Thanks ${name}, your payment has been successful!`;
</script>